<section class="produtos-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-{{leftColumWidth}} transition">
          <div class="row">
            <div class="col-md-12">
              <div class="cadastro-produtos-box">
                <!-- Topo -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="topo-cadastro-produtos">
                      <div class="row nomargin">
                        <div class="col-md-10">
                          <p class="nomargin"><strong>Novo produto</strong></p>
                          <p class="fnt-12">Deixamos este cadastro o mais prático possível, então, cadastre bastente!</p>
                        </div>
                        <div class="col-md-2 text-right">
                          <div class="btn-group optionsTopoCadastroProduto">
                            <a href="javascript:void(0)" class="gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="#">Ajuda</a></li>
                              <li><a href="javascript:void(0)" ng-click="salvaAutoFun()"><span ng-show="salvaAuto" ng-hide="!salvaAuto">Desabilitar</span><span ng-show="!salvaAuto" ng-hide="salvaAuto">Habilitar</span> salvamento automático</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Relatar algum problema</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Conteudo central verticalmente -->
                <div class="row content-new-prdt">
                  <!-- Imagem do produto-->
                  <div class="col-md-3" ng-controller="UploadController" nv-file-drop="" uploader="uploader" uploader="uploader">
                    <input id="uploadImage" type="file" nv-file-select="" style="display:none" uploader="uploader" multiple>
                    <div class="row nomargin">
                      <div class="col-md-12 text-center nopadding-r">
                        <div class="thumbnail photo eng-photo-newprdt" ng-click="clickUpload()" nv-file-over="" uploader="uploader" over-class="another-file-over-class">
                          <i class="fa fa-camera" aria-hidden="true"></i>
                          <div><span class="tit1FotosPrdt">Adicionar<br>imagens</span></div>
                        </div>
                      </div>
                    </div>
                    <!-- ng-show="uploader.isHTML5" -->
                    <!-- Modal para edição das fotos antes de subir -->
                    <div id="modalEditFilesUpload" class="modal fade" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><strong>Uau!</strong> Este produto vai ficar lindo.</h4>
                          </div>
                          <div class="modal-body">
                            
                            <!-- Nome original do arquivo -->
                            <!-- {{ item.file.name }} -->

                            <!-- Tamanho do arquivo -->
                            <!-- {{ item.file.size/1024/1024|number:2 }} MB -->
                            <div ng-repeat="item in uploader.queue" class="thumbnail">
                              <div ng-thumb="{ file: item._file, height: 100 }"></div>
                              <div class="caption">
                                <div class="options-thumb-upload-prdt">
                                  <div class="circle circ-icons">
                                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                  </div>
                                  <div class="circle circ-icons" ng-click="item.remove()">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </div>
                                </div>
                                
                                <!-- <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button> -->
                              </div>
                            </div>
                            <!--                             <tr>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                            </tr> -->
                          <div class="row">
                            <div class="col-md-12">
                              <!-- <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                              </div> -->
                            </div>
                          </div>
                          </div>
                          <div class="modal-footer">
                            <a href="javascript:void(0)" data-dismiss="modal" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">Remover todas</a>
                            <button type="button" class="btn btn-primary" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Adicionar todas <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Informações do produto -->
                  <div class="col-md-9">
                    <form name="passo1" class="passos">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Qual o título desse produto?" ng-focus="stopSave()" ng-blur="salvar()" ng-model="produto.titulo">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <!-- <select class="form-control" ng-show="departamentos.length != '0'" ng-model="produto.departamento" ng-change="salvar();getCategorias(produto.departamento)" ng-options="departamento.id as departamento.titulo for departamento in departamentos">
                              <option value="" disabled>Qual o departamento?</option>
                            </select>
                            <input type="text" ng-show="departamentos.length == '0'" placeholder="Qual o departamento?" class="form-control" ng-focus="stopSave()" ng-model="produto.departamento.titulo" ng-blur="salvar()"></input> -->
                            <div class="dropdown-depto btn-group">
                              <button type="button" ng-model="produto.departamento" class="btn btn-default dropdown-toggle form-control vertical-align" data-toggle="dropdown"><span class="lbl-dropdown pull-left">{{titDepto}}</span> <span class="pull-right icn-dropdown"><i class="fa fa-caret-down" aria-hidden="true"></i></span></button>
                              <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li>
                                  <div class="createNew">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Criar outro" ng-model="produto.departamento.titulo">
                                        <div class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="newDepto(produto.departamento.titulo)">Criar</button>
                                        </div>
                                      </div>
                                  </div>
                                </li>
                                <div class="loading-estoque" ng-show="getingProdutos" ng-hide="!getingProdutos">
                                  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                </div>
                                <li ng-repeat="departamento in departamentos | filter: produto.departamento.titulo" ng-click="selectForm(departamento, true)"><a href="javascript:void(0)">{{departamento.titulo}}</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <!-- <select ng-show="categorias.length != '0'" class="form-control" ng-focus="stopSave()" ng-model="produto.categoria" ng-blur="salvar()" ng-options="categoria.id as categoria.titulo for categoria in categorias">
                              <option value="" disabled>Qual a categoria?</option>
                            </select>
                            <div class="icone-input-right">
                              <input type="text" ng-show="categorias.length == '0'" placeholder="Qual a categoria?" class="form-control" ng-focus="stopSave()" ng-model="produto.categoria.titulo" ng-blur="salvar()"></input>
                            </div> -->
                            <div class="dropdown-depto btn-group">
                              <button type="button" ng-model="produto.categoria" class="btn btn-default dropdown-toggle form-control vertical-align" data-toggle="dropdown"><span class="lbl-dropdown pull-left">{{titCateg}}</span> <span class="pull-right icn-dropdown"><i class="fa fa-caret-down" aria-hidden="true"></i></span></button>
                              <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li>
                                  <div class="createNew">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Outro" ng-model="produto.categoria.titulo">
                                        <div class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="newCateg(produto.categoria.titulo)">Criar</button>
                                        </div>
                                      </div>
                                  </div>
                                </li>
                                <li ng-repeat="categoria in categorias | filter: produto.categoria.titulo" ng-click="selectForm(categoria, false)"><a href="javascript:void(0)">{{categoria.titulo}}</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group price-camp">
                              <input type="text" class="form-control noarrows" placeholder="Qual o preço?" ng-focus="stopSave()" ng-blur="salvar()" ng-model="produto.preco" mask="9999999" mask-restrict="reject" value="{{campoDinheiro | currency:'R$'}}" maxlength="7">
                              <div class="input-group-btn"> 
                                <div class="btn btn-default"> 
                                  <span ng-show="produto.preco" ng-hide="!produto.preco">R$ {{produto.preco | currency:''}}</span>
                                  <span ng-show="!produto.preco" ng-hide="produto.preco">R$ {{'0' | currency:''}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="Qual a quantidade total?" mask="9999999999" mask-restrict="reject" ng-focus="stopSave()" ng-blur="salvar()" ng-model="produto.quantidade">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Footer do cadastro de produtos -->
                <div class="row text-right">
                  {{produto}}
                  <div class="col-md-12">
                    <div class="footer-cadastro-produtos">
                      <div class="row nomargin" ng-show="!salvaAuto" ng-hide="salvaAuto">
                        <div class="col-md-12">
                          <a href="#">Abandonar :(</a>
                          <a href="javascript:void(0)" class="btn btn-primary btn-anim-icon fnt-12" ng-click="salvar(produto)">Salvar no estoque</a>
                        </div>
                      </div>
                      <div class="row nomargin" ng-show="salvaAuto" ng-hide="!salvaAuto">
                        <div class="col-md-12">
                          <!-- Avisos de resposta do formulario -->
                          <!-- Salvando -->
                          <span class="fnt-12 avisos-footer-new-prdt" ng-show="loadingsaveProduto == 'fa-circle-o-notch fa-spin fa-fw'">Salvando ... </span>
                          <!-- Salvo -->
                          <span class="fnt-12 avisos-footer-new-prdt" ng-show="produtoSalvo" class="success">Produto salvo em estoque </span>
                          <!-- Erro -->
                          <span class="fnt-12 avisos-footer-new-prdt" ng-show="error.show" class="error">{{error.msg}} </span>

                          <i ng-hide="produtoSalvo" class="fa {{loadingsaveProduto}}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Salvamento automático"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="cadastro-produtos-box">
                <!-- Topo -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="topo-cadastro-produtos">
                      <div class="row nomargin">
                        <div class="col-md-10">
                          <p class="nomargin"><strong>Produtos abandonados</strong></p>
                          <p class="fnt-12">Salvamos estes produtos para que você não deixe de vende-los!</p>
                        </div>
                        <div class="col-md-2 text-right">
                          <div class="btn-group optionsTopoCadastroProduto">
                            <a href="javascript:void(0)" class="gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="#">Ajuda</a></li>
                              <li><a href="javascript:void(0)" ng-click="salvaAutoFun()"><span ng-show="salvaAuto" ng-hide="!salvaAuto">Desabilitar</span><span ng-show="!salvaAuto" ng-hide="salvaAuto">Habilitar</span> salvamento automático</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Relatar algum problema</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="loading-estoque" ng-show="getingProdutos" ng-hide="!getingProdutos">
                      <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                    </div>
                    <div class="no-produtos-estoque" ng-show="isEmpty(abandonados) && !getingProdutos">
                      <i class="fa fa-smile-o" aria-hidden="true"></i>
                      <br>
                      Você não tem produtos<br>abandonados
                    </div>
                    <div class="cada-produto-estoque" ng-repeat="prdt in abandonados">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="img/prdt-no-photo.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="tit-produto tit-produto-abandonados">
                              <div ng-if="prdt.titulo"><strong>{{prdt.titulo}}</strong></div>
                              <div ng-if="!prdt.titulo"><strong>Produto abandonado :(</strong></div>
                              <div ng-if="prdt.departamento">Departamento: {{prdt.departamento}}</div>
                              <div ng-if="prdt.categoria">Categoria: {{prdt.categoria}}</div>
                              <div ng-if="prdt.preco">R$ {{prdt.preco | currency:''}}</div>
                              <div ng-if="prdt.quantidade">{{prdt.quantidade}} unidades</div>
                            </div>
                          </div>
                          <div class="row numeros-produtos numeros-produtos-abandonados">
                            <a href="javascript:void(0)" class="btn btn-danger" ng-click="delete($index)">Descartar</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="retomar(prdt)">Retomar cadastro</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Coluna da direita para manipulações rapidas -->
        <div class="col-md-{{rightColumWidth}} transition">
          <div class="cadastro-produtos-box estoque-box">
            <!-- Topo -->
            <div class="row">
              <div class="col-md-12">
                <div class="topo-cadastro-produtos">
                  <div class="row nomargin">
                    <div class="col-md-10">
                      <p class="nomargin"><strong>Estoque</strong></p>
                      <p class="fnt-12">Cores? Tamahos? Frete? Configuramos tudo aqui.</p>
                    </div>
                    <div class="col-md-2 text-right">
                      <div class="btn-group optionsTopoCadastroProduto">
                        <a href="javascript:void(0)" class="gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#">Ajuda</a></li>
                          <li><a href="javascript:void(0)" ng-click="expandirEstoque()"><span ng-show="rightColumWidth == '5'">Expandir</span><span ng-show="rightColumWidth == '7'">Recolher</span></a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Relatar algum problema</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="loading-estoque" ng-show="getingProdutos" ng-hide="!getingProdutos">
                  <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                </div>
                <div class="no-produtos-estoque" ng-show="isEmpty(estoque) && !getingProdutos">
                  <i class="fa fa-frown-o" aria-hidden="true"></i>
                  <br>
                  Você não tem produtos<br>para vender
                </div>
                <div class="cada-produto-estoque" ng-repeat="prdt in estoque">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="img/prdt-no-photo.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="tit-produto">
                          <div><strong>{{prdt.titulo}}</strong></div>
                          <div>R$ {{prdt.preco | currency:''}}</div>
                        </div>
                      </div>
                      <div class="row numeros-produtos">
                        <a href="javascript:void(0)" class="btn btn-primary">Adicione mais informações</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>