@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}
@media(min-width:767px) {
    .navbar {
        padding: 0 30px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
}
a, a:focus, a:hover{
    color:#00aaff;
}
a.gray{
    color:#bbb;
}
a.gray:focus, a.gray:hover{
    color:#00aaff;   
}
.main-section {
    height: 100%;
    padding-top: 120px;
    background-color:#e9ebee;
}
.configuracoes-section{
    background-color:#fff;
}
section{
    padding:30px 0 70px 0;
    background-color:#e9ebee;
}
.navbar-default{
    background-color:#00aaff;
    border-color: transparent;
}
.navbar-secondary{
    background-color:#fff;
    border-color:#E7E7EC;
    z-index: 10;
}
.box-shadown-black-1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.box-shadown-black-2{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box-shadown-white-1{
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
}
.box-shadown-white-2{
    box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand:hover{
    color: #fff;
    text-shadow:2px 2px 10px rgba(255, 255, 255, .5);
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
/*Navbar secundary ao centro*/
/* .navbar-secondary .navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-secondary .navbar-nav > li {
    float: none;
    display: inline-block;
} */
.navbar-secondary .navbar-nav>li>a{
    color:#808080;
    border-bottom: solid 2px #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.navbar-secondary .nav>li.active>a{
    background-color:#fff;
    border-bottom: solid 2px #00aaff;
}
.navbar-secondary .nav>li>a:focus, .nav>li>a:hover{
    background-color:#fff;
    border-bottom: solid 2px #00aaff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #0176a1;
    background-color: transparent;
    border-bottom: 0;
}
.navbar-brand{
    height:70px;
    line-height:45px;
}
.navbar-right{margin-right:0;}
.navbar-brand .fa{
    font-size:30px;
    animation: bounceInLeft 1s;
    margin-right: 15px;
}
.circle{
    border-radius:100%;
    overflow:hidden;
}
.circle-perfil{
    width:40px;
    height:40px;
    border:solid 2px rgba(255, 255, 255, .5);
}
.circle-perfil:hover{
    box-shadow: 0 3px 7px rgba(255,255,255,0.12), 0 3px 5px rgba(255,255,255,0.24);
    border:solid 2px rgba(255, 255, 255, .6);
}
.navbar-auxiliar{top:70px;}
.transition{transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.search-top{
    padding: 20px 15px 20px 115px;
    position: relative;
    height: 70px;
    width: 100%;
}
.search-top input{
    color:rgba(255, 255, 255, .8);
    padding-right:30px;
    font-size:13px;
}
.search-top .fa-search{
    position:absolute;
    top:27px;
    right:23px;
    color:rgba(255, 255, 255, .6);
}
.search-top .form-control{
    border:none;
    background-color:rgba(255, 255, 255, .3);
    height:30px;
    width:58%;
    float:right;
}
.search-top .form-control:focus{width:150%;}
.search-top ::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .7);
   font-size:13px;
}

.search-top :-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .7);
   font-size:13px;
}

.search-top ::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .7);
   font-size:13px;
}

.search-top :-ms-input-placeholder {  
   color: rgba(255, 255, 255, .7);
   font-size:13px;
}
.configs-group{
    border-bottom:solid thin #E7E7EC;
    padding: 50px 15px;
}
.tit-configs-group{color:#00aaff;}
.subtit-configs-group{
    color:#808080;
    font-size:12px;
    padding-right:15px;
}
.col-centered{
    margin:0 auto;
    float:none;
}
.btn{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn-primary {
    color: #fff;
    background-color: #00aaff;
    border-color: #00aaff;
}
.btn-default {
    color: #00aaff;
    background-color: transparent;
    border-color: #00aaff;
}
.btn-default.focus, .btn-default:focus, .btn-default:hover,.btn-default:active:hover {
    color: #00aaff;
    background-color: rgba(0, 170, 225, .1);
    border-color: #00aaff;
    outline:none;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,.btn-primary:active:hover,.btn-primary[disabled]:hover {
    color: #fff;
    background-color: #0176a1;
    border-color: #0176a1;
    outline:none;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.upload-produtos{
    width:70%;
    margin: 0 auto;
    border:dashed thin #00aaff;
    color: #00aaff;
    padding:20px;
    border-radius:4px;
    text-align:center;
    vertical-align:middle;
    cursor:default;
}
.upload-produtos:hover{background-color:rgba(0, 170, 225, .1);}
.box-cadastro{
    background-color:#fff;
    border-radius:2px;
    border:solid thin #E7E7EC;
    min-height:200px;
    padding:40px;
}
.box-cadastro .form-group label{
    font-size:12px;
    margin-bottom: 5px;
    color:#808080;
    font-weight:normal;
}
.botoesCadastro{padding:15px 0;}
.botoesCadastro a{margin-right:15px;}
.botoesCadastro .btn .fa{margin-left:5px;}
.cadastro-produtos-box select{color: #999;}
.cadastro-produtos-box select option{color: #333;}
.form-control{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow:none;
    border: 1px solid #ddd;
}
input[type=number].noarrows::-webkit-inner-spin-button, 
input[type=number].noarrows::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.form-control:focus {
    border-color: #00aaff;
    outline: 0;
    padding-left:15px;
    box-shadow: none;
}
.cadastro-produtos-box{
    background-color:#fff;
    border-radius:4px;
    padding:20px;
    padding-bottom: 0;
    padding-left: 0;
    border:solid thin #ddd;
    margin-bottom:30px;
    box-shadow: 0 1px 3px rgba(200,200,200,0.12), 0 1px 2px rgba(200,200,200,0.24);
}
.estoque-box{
    overflow: hidden;
}
.cadastro-produtos-box .progress{height:12px;}
.cadastro-produtos-box .progress-bar{
    font-size: 9px;
    line-height: 11px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.progress-bar-info{background-color:#00aaff;}
.img-responsive {margin: 0 auto;}
.footer-cadastro-produtos{
    border-top:solid thin #E7E7EC;
    margin-right:-20px;
    padding:5px 10px;
    color:#bbb;
    margin-top: 15px;
}
.loading-estoque{
    text-align:center;
    padding:20px;
    color:#bbb;
    width:100%;
}
.footer-cadastro-produtos a{margin:0 5px;}

.footer-cadastro-produtos a.btn .fa{transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.footer-cadastro-produtos a.btn .fa.left{margin-left:10px;}
.footer-cadastro-produtos a.btn:hover .fa.left{margin-left:15px;}
.footer-cadastro-produtos a.btn .fa.right{margin-right:10px;}
.footer-cadastro-produtos a.btn:hover .fa.right{margin-right:15px;}

.mais-fotos{margin-top:10px;}
.topo-cadastro-produtos{
    border-bottom:solid thin #E7E7EC;
    margin-right:-20px;
}
.topo-cadastro-produtos p{
    margin-bottom:15px;
    color:#00aaff;
}
.content-new-prdt{padding-top:20px;}
.fnt-12{font-size:12px;}
.cada-produto-estoque.ng-enter{
    animation:bounceInUp 1s;
}
.cada-produto-estoque.ng-leave{
    animation:bounceOutUp 1s;   
}
.cada-produto-estoque{
    border-bottom:solid thin #E7E7EC;
    padding:15px;
    margin-right:-20px;
    cursor:pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cada-produto-estoque:hover{background-color:#e9ebee;}
.numeros-produtos .btn{
    font-size: 12px;
    padding: 2px 12px;
}
.nopadding-r{
    padding-right: 0;
}
.numeros-produtos-abandonados{
    margin-top: 5px;
}
.tit-produto{color:#808080;font-size: 12px;}
.tit-produto div:last-child{
    margin-bottom: 5px;
}
.tit-produto-abandonados div{
    margin-bottom: 5px;   
}
.thumbnail.photo{
    cursor:pointer;
    min-height: 132px;
    width: 100%;
    color: #bbb;
    font-size: 12px;
    border: 1px dashed #bbb;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thumbnail.photo:hover{
    color: #00aaff;
    background-color: rgba(0, 170, 255, .1);
    border: 1px dashed #00aaff;
}
.thumbnail.photo i{
    font-size: 30px;
    margin: 20px 0;
}
.icone-input-right{
    position:relative;
}
.icone-input-right input{
    padding-right:25px;
}
.icone-input-right .fa{
    position:absolute;
    right:10px;
    top:30%;
    font-size:14px;
    cursor:pointer;
}
.icone-input-right.icone-two .fa{
    right:20px;
}
.icone-input-right .fa-info-circle{
    color:#808080;
}
.tooltip > .tooltip-inner {
    background-color: #00aaff;
    color: #FFFFFF; 
    border: 1px solid #00aaff;
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: 'Open Sans';
}
.tooltip.left > .tooltip-arrow {
    border-left: 5px solid #00aaff;
}
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid #00aaff;
}
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #00aaff;
}
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #00aaff;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.input-group .btn-default{
    color: #808080;
    background-color: #fff;
    border-color: #ddd;
}
.input-group .btn-default:focus,.input-group .btn-default:hover{
    color: #808080;
    background-color: #f1f1f1;
    border-color: #ddd;
}
.open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-default:focus {
    color: #808080;
    background-color: #f1f1f1;
    border-color: #ddd;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a .circle-perfil{
    box-shadow: 0 3px 7px rgba(255,255,255,0.12), 0 3px 5px rgba(255,255,255,0.24);
    border: solid 2px rgba(255, 255, 255, .6);
}
.dropdown-menu{
    margin:0;
    padding:0;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: fixed;
    top: 55px;
    right: 110px;
}
.dropdown-menu .divider{
    margin:0;
}
.dropdown-menu li:first-child{
    border-top-radius: 4px;
}
.dropdown-menu li:last-child{
    border-bottom-radius: 4px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #808080;
    white-space: nowrap;
}
.dropdown-menu>li>a:first-child{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.dropdown-menu>li>a:last-child{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.dropdown-menu>li>a[disabled="true"]:focus, .dropdown-menu>li>a[disabled="true"]:hover {
    color: #808080;
    cursor:default;
    text-decoration: none;
    background-color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #00aaff;
    text-decoration: none;
    background-color: #f1f1f1;
}
.optionsTopoCadastroProduto .fa{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.optionsTopoCadastroProduto .fa{
    font-size:22px;
    padding-right: 7px;
}
@media screen and (min-width:750px) {
    .dropdown-menu.with-arrow:before {
        position: absolute;
        top: -8px;
        right: 19px;
        z-index: 9;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-bottom-color: #fff;
        content:'';
    }
}
.avisos-footer-new-prdt{
    margin-right: 5px;
}
.btn-group.open .dropdown-toggle {box-shadow:none;}
.success{color:#5cb85c;}
.error{color:#c9302c;}
.no-produtos-estoque .fa{
    font-size:30px;
    margin-bottom: 10px;
}
.no-produtos-estoque{
    padding:20px;
    text-align:center;
    overflow: hidden;
    color:#bbb;
}
.estoque-labels{
    color: #fff;
    text-align: center;
    padding:5px;
    border-radius: 4px;
    font-size: 10px;
    display: inline-block;
}
.estoque-info1{
    background-color: #0176a1;
}
.estoque-info2{
    background-color: #00aaff;
}
.estoque-info3{
    background-color: #5bc0de;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    border-top: solid thin #E7E7EC;
    z-index: 9;
}
footer .btn{
    padding: 2px 15px;
    margin-left: 15px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}
.nomargin{margin:0 !important;}
.topo-dropdown-user{
    padding: 20px 20px 5px 20px;
    text-align: center;
    color: #808080;
}
.topo-dropdown-user p{
    margin-bottom: 5px;
}
.topo-dropdown-user p:last-child{
    font-size: 12px;
}
.topo-dropdown-user .circle-perfil{
    margin: 0 auto 10px auto;
    width: 60px;
    height: 60px;
}
nav .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    text-decoration: none;
    background-color: #f1f1f1;
}
nav .dropdown-menu>li>a{
    color: #00aaff;
    padding: 10px 20px;
}
nav .dropdown-menu>li>a i{
    margin-right: 5px;
}
.notification a{
    padding-top: 25px !important;
    padding-bottom: 24px !important;
}
.notification i{
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
}
.thumbnail.photo.another-file-over-class {
    color: #00aaff;
    background-color: rgba(0, 170, 255, .1);
    border: 1px dashed #00aaff;
}
.thumbnail.photo.another-file-over-class .fa-camera:before {
    content: "\f0ee";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.thumbnail.photo.another-file-over-class div:after{
    content: "Solte aqui \a suas imagens";
    white-space: pre;
}
.thumbnail.photo.another-file-over-class .tit1FotosPrdt{
    display: none;
}
#modalEditFilesUpload .thumbnail .caption{
    padding: 0;
}
#modalEditFilesUpload .progress-bar{
    background-color: #00aaff;
}
#modalEditFilesUpload .thumbnail{
    float:left;
    margin-bottom:5px;
    margin:5px;
    cursor:pointer;
    padding-bottom: 0;
    position:relative;
}
#modalEditFilesUpload .thumbnail .caption{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
#modalEditFilesUpload .thumbnail:hover .caption{
    background-color:rgba(0, 0, 0, .5);
    width:100%;
    height:100%;
    border-radius:4px;
    content:"";
    z-index:1;
    position:absolute;
    top:0;
    left:0;
}
.circ-icons{
    opacity:0;
    width:35px;
    height:35px;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color:#fff;
    z-index:10;
    text-align:center;
    border:solid thin #fff;
    line-height:32.5px;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
#modalEditFilesUpload .thumbnail:hover .caption:hover .circ-icons{
    opacity:1;
}
.circ-icons:first-child{
    right:15px;
}
.circ-icons:last-child{
    left:15px;
}
.circ-icons:hover{
    background-color:rgba(0, 170, 255, .3);
}
#modalEditFilesUpload .modal-footer .btn-primary{
    margin-left:10px;
}
#modalEditFilesUpload .modal-footer .btn-primary i{
    margin-left:5px;
}
#modalEditFilesUpload .modal-footer .btn-primary:hover{
    text-shadow:2px 2px 10px rgba(255, 255, 255, .5);
}
.modal-open .modal{
    background-color:rgba(0, 170, 255, .3);
}
#modalEditFilesUpload .modal-content{
    box-shadow: 0 1px 3px rgba(255,255,255,.12), 0 1px 2px rgba(255,255,255,.24);
    border-color: transparent;
}
#modalEditFilesUpload .modal-header{
    background-color:#e9ebee;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
}
#modalEditFilesUpload .modal-title{
    font-size:14px;
}
#modalEditFilesUpload canvas{
    width:100px;
    min-height:40px;
    height:auto;
}
.eng-mini-loader{
    position: relative;
    width: 10px;
    height: 10px;
    padding: 10px;
    float: right;
}
.eng-mini-loader .ui.mini.text.loader {
    min-width: 1rem;
    padding-top: 1.1rem;
}
form[name="passo1"] .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    position: relative;
    padding-left: 12px!important;
    padding-right: 12px!important;
}
form[name="passo1"] .ui.simple.active.dropdown>.menu, .ui.simple.dropdown:hover>.menu{
    border-top-left-radius: 0;
}
form[name="passo1"] .ui.button{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #999;
    font-weight: normal;
}