<!DOCTYPE html>
<html lang="pt-BR" ng-app="adminApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <title>Sua loja virtual agora é fácil</title>

    <!-- Bootstrap Core CSS -->
    <link href="libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="libs/semantic/semantic.min.css">

    <!-- Semantic UI Dropdown -->
    <link href="libs/semantic-ui-dropdown/dropdown.min.css" rel="stylesheet">

    <!-- Semantic UI Loader -->
    <link href="libs/semantic-ui-dropdown/loader.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Icones Fonte Awesome -->
    <link rel="stylesheet" href="fonts/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="libs/animate.css/animate.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="mainCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll transition" href="#page-top" target="_self"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Minha Loja Fácil</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="search-top">
                <input type="text" class="transition form-control" placeholder="Busque por produtos, clientes, pedidos ...">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </li>
            <li class="notification">
                <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu with-arrow dropdown-menu-right">
                    <li><a href="javascript:void(0)"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Seus dados</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" aria-hidden="true"></i> Novo administrador</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="circle transition circle-perfil">
                        <img src="img/perfil_1.jpg" alt="Foto de Perfil" class="img-responsive">
                    </div>
                </a>
                <ul class="dropdown-menu with-arrow dropdown-menu-right">
                    <li>
                        <div class="topo-dropdown-user">
                            <div class="circle transition circle-perfil">
                                <img src="img/perfil_1.jpg" alt="Foto de Perfil" class="img-responsive">
                            </div>
                            <p>Murilo Eduardo dos Santos</p>
                            <p>muriloeduardoooooo@gmail.com</p>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Seus dados</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" aria-hidden="true"></i> Novo administrador</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
                </ul>
            </li>
          </ul>
      </div>
    </nav>
    <nav class="navbar navbar-secondary navbar-fixed-top navbar-auxiliar" role="navigation" ng-controller="navCtrl">
      <div class="container">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/')}">
              <a href="/">Painel</a>
            </li>
            <li ng-class="{active: isActive('/produtos')}">
              <a href="/produtos">Produtos</a>
            </li>
            <li ng-class="{active: isActive('/layout')}">
              <a href="/layout">Layout</a>
            </li>
            <li ng-class="{active: isActive('/vendas')}">
              <a href="/vendas">Vendas</a>
            </li>
            <li ng-class="{active: isActive('/publicidade')}">
              <a href="/publicidade">Publicidade</a>
            </li>
            <li ng-class="{active: isActive('/configuracoes')}">
              <a href="/configuracoes">Configurações</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-section" ng-view></div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 text-right fnt-12">
                        <a href="">{{coneccaoLenta}}</a>
                        <a href="javascript:void(0)" class="btn btn-primary fnt-12">Suporte</a>
                        <a href="javascript:void(0)" class="btn btn-default fnt-12">Dúvidas</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="libs/jquery/jquery.min.js"></script>

    <!-- Semantic -->
    <script src="libs/semantic/semantic.min.js"></script>

    <!-- Semantic UI Dropdown -->
    <script src="libs/semantic-ui-dropdown/dropdown.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="libs/jquery/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!-- AngularJS -->
    <script src="libs/angular/angular.min.js"></script>

    <!-- Angular-Route -->
    <script src="libs/angular-route/angular-route.min.js"></script>

    <!-- Angular-Resource -->
    <script src="libs/angular-resource/angular-resource.min.js"></script>

    <!-- Angular-Animate -->
    <script src="libs/angular-animate/angular-animate.min.js"></script>

    <!-- Angular-Upload-Files-->
    <script src="libs/angular-file-upload/angular-file-upload.min.js"></script>

    <!-- Módulo -->
    <script src="js/app.js"></script>

    <!-- Rotas -->
    <script src="js/configs/routeConfig.js"></script>    

    <!-- Controllers -->
    <!-- mainCtrl -->
    <script src="js/controllers/mainCtrl.js"></script>
    <!-- menu da loja -->
    <script src="js/controllers/navCtrl.js"></script>
    <!-- upload de arquivos -->
    <script src="js/controllers/uploadImage.js"></script>
    <!-- pagina de abertura -->
    <script src="js/controllers/homeCtrl.js"></script>
    <!-- produtos -->
    <script src="js/controllers/produtosCtrl.js"></script>
    <!-- estoque -->
    <script src="js/controllers/estoqueCtrl.js"></script>
    <!-- layout -->
    <script src="js/controllers/layoutCtrl.js"></script>
    <!-- pagamentos -->
    <script src="js/controllers/pagamentosCtrl.js"></script>
    <!-- clientes -->
    <script src="js/controllers/clientesCtrl.js"></script>
    <!-- pedidos -->
    <script src="js/controllers/pedidosCtrl.js"></script>
    <!-- estatisticas -->
    <script src="js/controllers/estatisticasCtrl.js"></script>
    <!-- configuracoes -->
    <script src="js/controllers/configuracoesCtrl.js"></script>

    <!-- Services -->
    <!-- Api -->
    <script src="js/services/Api.js"></script>
    <!-- Multiple Search -->
    <script src="js/services/searchMultiple.js"></script>

    <!-- Directives -->
    <!-- Mascara de Inputs -->
    <script src="js/directives/ngMask.min.js"></script>
    <!-- Upload de arquivos -->
    <script src="js/directives/upload.js"></script>

    <!-- Bootbox -->
    <script src="libs/bootbox/bootbox.min.js"></script>
  </body>
</html>