<section class="cadastro-rapido-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 box-cadastro">
					<form novalidate>
						<div class="form-group">
							<label for="departamento">Departamento</label>
							<input type="text" class="form-control" placeholder="O que isso é?" id="departamento" ng-model="produtos.departamento">
						</div>
						<div class="form-group">
							<label for="categoria">Categoria</label>
							<input type="text" class="form-control" placeholder="Pertence a qual grupo?" id="categoria" ng-model="produtos.categoria">
						</div>
						<div class="form-group">
							<label for="titulo">Título</label>
							<input type="text" class="form-control" ng-model="produtos.titulo" id="titulo">
						</div>
						<div class="form-group text-right botoesCadastro">
							<a href="/produtos" ng-click="cancelaCadastroProduto()">Cancelar</a>
							<button class="btn btn-primary" ng-click="adicionaCadastroProduto()">Continuar <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
						</div>
						{{produtos}}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>